
.gridOne {
    display: grid; 
    width: 35vw;   
    grid-template-columns: 1fr 1fr;    
    justify-content: left;   
    background-color: rgba(207, 199, 199, 0.877);
}

.dos {
    color: blue;
}

.gridTwo {
    display: grid; 
    width: 35vw;   
    grid-template-columns: 1fr 1fr 2fr;    
    justify-content: left;   
}

.red {
    background-color: red;
}

.blue {
    background-color: blue; 
}

.yellow {
    background-color: yellow;
}

.gridThree {    
    display: grid;  
    width: 500px;
    height: 300px;    
    grid-template-columns: 1fr, 3fr;
}

.text_grid_Three {
    background-color: aqua;
}

.image_grid_Three {
    background-color: blueviolet;
}

.image_grid_Three img {
    width: 500px;
    height: 225px;
}

.gridFour {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr, 1fr;
    background-color:green;
}

#dos_grid_four {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridFive {
    object-fit: cover;
    display: grid;
    width: 500px;
    grid-template-columns: 1fr, 1fr;
    background-color:rgb(72, 78, 72);
}


#dos_grid_five {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.image1_gridfive img {
    height: 200px;
    width: 200px;
   
}

.gridSix {
    width: 500px;
    background-color: lightgray;
}

.image2_gridfive img {
    height: 200px;
    width: 200px;    
}

 .font_modificada {
    font-family: Oswald;
 }

